# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon?
Icon

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# macOS cache files
.com.apple.timemachine.donotpresent
.com.apple.desktop.plist

# VSCode
.vscode/
